@model hethongquanlyluutrufiles.Models.File

@{
    ViewData["Title"] = "Xóa file";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <h2 class="header-title">Xóa file</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="TrangChuAdmin" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a asp-area="Admin" asp-controller="AdminFiles" asp-action="Index" class="breadcrumb-item">Danh sach file</a>
            <span class="breadcrumb-item active">Chi tiết quyền truy cập</span>
        </nav>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Xóa file</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>ID:</td>
                        <td class="text-dark font-weight-semibold">@Model.FileId</td>
                    </tr>
                    <tr>
                        <td>Tên file:</td>
                        <td>@Model.FileName</td>
                    </tr>
                    <tr>
                        <td>Loại file:</td>
                        <td>@Model.TypeFile.TypeFileName</td>
                    </tr>
                    <tr>
                        <td>Kích thước file:</td>
                        <td>@Model.FileSize<span> Kb</span> </td>
                    </tr>
                    <tr>
                        <td>Người cung cấp:</td>
                        <td>@Model.User.Username</td>
                    </tr>
                    <tr>
                        <td>Thời gian tạo:</td>
                        <td>@Model.DateUploaded</td>
                    </tr>
                    <tr>
                        <td>Xác nhận xóa:</td>
                        <td>
                            <form asp-action="Delete">
                                <input type="hidden" asp-for="FileId" />
                                <input type="submit" value="Xóa" class="btn btn-danger btn-tone m-r-5" />
                                <a type="submit" class="btn btn-primary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminFiles" asp-action="Index">Hủy</a>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


